.flex {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.inline {
  display: inline;
}

#console {
  color: black;
  width: 100%;
}

* {
  font-family: FiraCode;
  font-size: 14px;
}

@font-face {
  font-family: FiraCode;
  src: url(media/FiraCode-VF.ttf);
}

/* message types */

.connection-message {
  color: #539d75;
}

.username-update-message {
  color: #777ed3;
}

.client-message {
  color: grey;
}

.error {
  color: #ed4245
}